V1_orig/structures/**
V1_orig/structures/m*
V1_orig/figures/*
V1/structures/**
V1/structures/m*
V1/figures/*
V1_BB/structures/**
V1_BB/structures/m*
V1_BB/figures/*
V1_BB/*.exx*
pytorch/*
altExp/*.m
altExp/exp_*
altExp/*.xl*
altExp/figures/**
altExp/structures/m*
**/.ipynb_checkpoints/**
.ipynb_checkpoints/**
.ipynb_checkpoints/
**/__pycache__/**
**/__pycache__/
__pycache__/**
__pycache__/
jointList*.npy
**/.DS_Store
**/._.DS_Store*
.DS_Store
._.DS_Store*
**/*.pyc
**/._*
altExp/stimuli/
altExp/firstPass/**
altExp/recordings/**
altExp/structures/**
LGN/structures/matlab/
LGN/structures/*sfm*.npy*
LGN/figures/
LGN/*
LGN/experiments
LGN/sach/figures/
LGN/sach/forTony/
LGN/sach/sach-data/
*~
**/*~
**/*.out
**/*.err
/tf2.7/
**/Structures/m*
**/structures/m*
mountainsort_instructions.pdf
uvnlExpo/**
**/figures*/**
V1_orig/m*
V1/m*
matlab/manu/
notebook.tex
rsync_include.txt
scp_list*.txt
v1-jrc-cavanaugh.xls
hidecode.tplx
Reports/*vss/
ExpoAnalysisTools/
V1/structuresTest/
*/recordings/
descrAnalysisV1-allExps_files/
descrAnalysisV1-allExps.tex
