V1_orig/Structures/Structures-extra
V1_orig/Structures/m*
V1_orig/Figures/*
altExp/figures/**
altExp/structures/m*
**/.ipynb_checkpoints/**
.ipynb_checkpoints/**
.ipynb_checkpoints/
**/__pycache__/**
__pycache__/**
__pycache__/
**/.DS_Store
**/._.DS_Store*
.DS_Store
._.DS_Store*
**/*.pyc
**/._*
altExp/stimuli/
altExp/firstPass/**
altExp/recordings/**
altExp/structures/**
LGN/structures/matlab/
LGN/structures/*sfm*.npy*
LGN/figures/
LGN/uvnlExpo/
LGN/experiments
LGN/sach/figures/
LGN/sach/forTony/
LGN/sach/sach-data/
**/*~
**/*.out
**/*.err
/tf2.7/
**/Structures/m*
**/structures/m*
