Analysis/Structures/Structures-extra
Analysis/Structures/m*
Analysis/Figures/*
altExp/analysis/figures/**
altExp/analysis/structures/m*
**/.ipynb_checkpoints/**
.ipynb_checkpoints/**
**/__pycache__/**
__pycache__/**
**/.DS_Store
**/._.DS_Store*
**/*.pyc
**/._*
altExp/firstPass/**
altExp/recordings/**
LGN/analysis/structures/matlab/
LGN/analysis/structures/*sfm*.npy*
LGN/analysis/figures/
LGN/sach/figures/
**/*~
**/*.out
**/*.err
**/tf2.7/

